@model GreetMe_MVC.Models.View.EditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>


@using (Html.BeginForm())
{
    <h4>View</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ViewName" class="control-label"></label>
                    <input asp-for="ViewName" class="form-control" />
                    <span asp-validation-for="ViewName" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="HasCurrentDatetime" /> @Html.DisplayNameFor(model => model.HasCurrentDatetime)
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="HasBirthday" /> @Html.DisplayNameFor(model => model.HasBirthday)
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="HasAnniversary" /> @Html.DisplayNameFor(model => model.HasAnniversary)
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="HasMenu" /> @Html.DisplayNameFor(model => model.HasMenu)
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}


<div>
    @Html.ActionLink("Tilbage", "Index", "Home")
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

