@model IEnumerable<GreetMe_MVC.Models.Home.IndexModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.ViewName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasCurrentDatetime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasBirthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasAnniversary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasMenu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.ViewName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasCurrentDatetime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasBirthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasAnniversary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasMenu)
            </td>
            <td>
                @Html.ActionLink("See view", "Detail", "View", new { id = item.Id })  
                @Html.ActionLink("Edit", "Edit", "View", new { id = item.Id })              
                @Html.ActionLink("Delete", "Delete","View",   new { id =  item.Id})
            </td>
        </tr>
}
    </tbody>
</table>
