@using GreetMe_MVC.Controllers
@model IEnumerable<GreetMe_MVC.Models.ViewViewModel>

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>


<h1>Index</h1>


<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.ViewName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasBirthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasAnniversary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ViewName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HasBirthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HasAnniversary)
                </td>
                <td>
                    @Html.ActionLink("See view", "Get", "Views", new { id = item.Id })
                    @Html.ActionLink("Edit", "Update", "Views", new { id = item.Id })
                    @Html.ActionLink("Delete", "Delete","Views",   new { id =  item.Id})
                </td>
            </tr>
        }
    </tbody>
</table>